@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: hsl(217, 54%, 11%);
}

h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

p {
  font-size: 18px;
}

#card {
  transform: scale(0.7);
  background: hsl(216, 50%, 16%);
  width: 355px;
  height: 570px;
  border-radius: 8px;
  padding: 27px;
}

.card__image img {
  width: 100%;
  height: 285px;
  border-radius: 8px;
}

.card__image {
  position: relative;
}

.icon-view {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(178, 100%, 50%, 0.5);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, visibility 200ms ease;
}

.icon-view img {
  width: 40px;
  height: 40px;
}

.card__image:hover .icon-view {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.card__heading {
  font-weight: 600;
  margin: 8px 0;
  color: hsl(0, 0%, 100%);
}

.card__paragraph {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin: 10px 0;
}

#eth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding: 16px 0;
}

#price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

#timeleft {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

#creator {
  display: flex;
  align-items: center;
  margin: 1.25em 0;
  font-weight: 400;
}

#creator img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-right: 0.625em;
  border: 1px solid hsl(0, 0%, 100%);
}

#creation-of {
  color: hsl(215, 51%, 70%);
  padding-right: 4px;
}

#creator__name {
  color: hsl(0, 0%, 100%);
}

#creator__name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
